/**
 * Reset some basic elements
 */
#{headings(1,6)},
blockquote,
body,
dd,
dl,
figure,
hr,
ol,
p,
pre,
ul {
    margin: 0;
    padding: 0;
}
html, body {
    position:relative;
    overflow-x:hidden;
}

/**
 * Basic styling
 */
body {
    font-family: var(--font-family-serif);
    font-size:   var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: var(--line-height-base);

    color: var(--color-text-base);
    background-color: var(--color-background);

    @include mode-transition-default;
}
strong {
    color: var(--color-text-bold);

    @include mode-transition-default;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm,
#{headings(1,6)},
blockquote,
dl,
figure,
ol,
p,
pre,
table,
ul {
    margin-bottom: su(0.5);
}

/**
 * Images
 */
img {
    max-width: 100%;
    max-height: 90vh;
    vertical-align: middle;

    @media print {
        max-height: 70vh;
    }
}

/**
 * Figures
 */
figure {
    padding: su();

    & + & {
        padding-top: 0;
        margin-top: su(-0.5);
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption {
        margin-top: su(0.5);

        color: var(--color-grey-dark);
        font-style: italic;
        text-align: center;

        @include mode-transition-default;
    }
}

/**
 * Lists
 */
ol,
ul {
    margin-left: su();
}

li {
    > ol,
    > ul {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
#{headings(1,6)} {
    color: var(--color-text-bold);
    font-weight: var(--font-weight-base);

    @include mode-transition-default;
}

/**
 * Links
 */
a {
    color: var(--color-text-link);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @include mode-transition-default;
}

/**
 * Blockquotes
 */
blockquote {
    color: var(--color-grey-dark);
    padding-left: su(0.5);
    border-left: 2px solid var(--color-grey-light);
    font-style: italic;
    // font-size: $small-font-size;

    margin-bottom: su(0.75);

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query($on-palm) {
        padding-left: calc( #{su(0.25)}  - 2px);
        margin-left: su(-0.25);
    }

    @include mode-transition-default;
}

/**
 * Code formatting
 */
code,
pre {
    background-color: #fcfcfc;
}

code {
    padding: 1px 5px;
    font-family: var(--font-family-code);
    color: #f14e32;
}

pre {
    // padding: 8px 12px;
    overflow-x: auto;
    border: 1px solid var(--color-grey-light);

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        @include prefix((
            tab-size: 4,
        ), moz);
        color: inherit;
    }

    @include mode-transition-default;
}

/**
 * Table
 */
table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

td,
th {
    padding: 0.5rem;
    line-height: inherit;
}

th {
    text-align: left;
    vertical-align: bottom;
    border-bottom: 2px solid var(--color-grey-light);
    @include mode-transition-default;
}

td {
    vertical-align: top;
    border-bottom: 1px solid var(--color-grey-light);
    @include mode-transition-default;
}

/**
 * Horizontal rule
 */
hr {
    margin: su(2) auto;
    
    border: none;
    border-top: medium dotted var(--color-grey);

    @media print { 
        margin: su() auto; 
        width: 3em;

        border-top-width: thick;

        visibility: hidden;
    }

    @include mode-transition-default;
}

