/**
 * Page content borders
 */

%column-width {
    margin-inline: auto;

    box-sizing: content-box;
    max-width: var(--max-width);
}

.page-content {
    @extend %column-width;    

    position: relative;

    padding-inline: su(0.75);
    margin-block:   su(0.5 );
    padding-block:  su(1.5 );

    @include media-query($on-palm) {
        padding-inline: su(0.5);
        padding-block:  su(1.5);
    }

    @media print {
        max-width: none;
        margin: 0;
        padding: 0;
    }
}


/**
 * Home + Pages
 */

section {

    position: relative;

    & + & {
        margin-top: su();
    }

    &.site-intro {
        & > p:first-of-type {
            &:before {
                content: "............";
                @include media-query($on-palm) {
                    content: "...";
                }
                color: var(--color-grey);
                letter-spacing: 4px;
            }
        }
    }

    &.adult-warning {
        font-size: var(--font-size-small);
        // font-family: var(--font-family-code);
        color: var(--color-grey);

        text-align: justify;

        @include mode-transition();

        p:first-child {
            @include prefix((
                text-decoration-line: underline,
            ), webkit);
            font-weight: 600;
        }
    }

    &.box-section {

        padding: su();
        @include media-query($on-palm) {
            padding: su(0.75);
        }

        background-color: var(--color-grey-faint);
        // border: medium dotted var(--color-grey-light);
    
        & > *:last-child {
            margin-bottom: 0;
        }

        @include mode-transition();
    }
}


/*
    Stories Page
*/

.page-stories {

    .table-of-contents {
        // max-width: calc(48rem * 0.66);
        // margin: auto;
        margin-bottom: su(2.5);

        text-shadow: none;
    }

    .story-summary {
        position: relative;
    }

    .watermark {
        background-size: contain;
        position: absolute;
        // left: 0;
        // margin-top: su( 0.5 );
        top: 0;
        right: su( -2 );

        $s: calc( var(--max-width) * 0.5 );
        height: $s;
        width: $s;

        @include media-query($on-palm) {
            $s: calc( var(--max-width) * 0.5 * 0.75 );
            height: $s;
            width: $s;
        }
        
        z-index: -1;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.1;

        @include dark-mode {
            @include prefix((
                filter: invert(1),
            ), webkit);
        }

        @include mode-transition(filter, -webkit-filter);
    }

    article {
        // Add text definition over watermarks
        $s: 2px;
        $b: 2px;
        $c: var(--color-background);
        text-shadow:    -1*$s   0       $b      $c, 
                        0       $s      $b      $c,
                        $s      0       $b      $c,
                        0       -1*$s   $b      $c;

        @include mode-transition(text-shadow)
    }
}

/*
    Blog Page
*/
.page-blog {

    article {
        @extend %clearfix;

        .post-image, img {
            display: block;
            box-sizing: border-box;

            float: right;
            max-width: 50%;
            max-height: 50vh;

            padding: su(0.25);
            padding-left: su(0.5);
            
            @include media-query($on-palm) {
                float: none;
                max-width: 100%;

                margin-left: auto;
                margin-right: auto;
                padding: 0 su(0.5);
                margin-bottom: su(0.5);
            }
        }

        .post-content {
            text-align: justify;

            @include media-query($on-palm) {
                text-align: left;
            }
        }
    }

}



/*
    Tags Page
*/

.page-tags {
    .tag-title {  
        &::before {
            content: '#';
            font-family: Arial, Helvetica, sans-serif;
      
            color: var(--color-grey);
    
            @include mode-transition();
        }
    }

    .tag-list-section {

    }

    .tag-group-section {
        min-height: 8vh;

        &.open .tag-group {
            display: inherit;
        }
    }

    .tag-group {
        margin-top: var(--spacing-unit);

        display: none;

        &:target, &.open {
            display: inherit;

            // .tag-title {
            //     animation: tag-fade 5s ease 1;

            //     @keyframes tag-fade {
            //         0% { 
            //             color: var(--color-text-bold);
            //         }
            //     }
            // }
        }
    }
}

/*
    Favs / Reading List
*/

.page-favs {

    .page-content {
        max-width: unset;
    }

    .site-header, .favs-intro {
        @extend %column-width;
    }
}

.card-masonry-section {
    columns: 5 300px;
    column-gap: su(0.5);

    min-height: 75vh;

    .card {
        display: inline-block;
        box-sizing: border-box;

        width: 100%;
        margin-bottom: su(0.5);
        padding: su(0.35);
        
        background-color: var(--color-grey-faint);

        @include mode-transition();

        .card-header {
            margin-bottom: 0;
        }

        .card-heading {
            margin-bottom: su(0.25);

            position: relative;
        }

        .card-meta {
            @extend .post-meta;

            margin-bottom: su(0.25);

            line-height: calc( var(--line-height-base) * 0.85 );

            & > * {

                &:first-child {
                    color: var(--color-text-base);
                }

                &::after {
                    letter-spacing: 0.7em !important;
                }
                
            }
        }

        .card-content {
            margin-inline:  calc( var(--spacing-unit) * 0.25);
            margin-block: su(0.5) 0;

            font-size: var(--font-size-small);
            line-height: var(--line-height-content);

            p {
                margin-bottom: su(0.25);
            }
        }

        // Link Icons
        %card-icon {
            display: block;
            float: right;

            height: calc( var(--line-height-base) * 1em);
            width:  calc( var(--line-height-base) * 1em);

            margin-left:   su(0.35);
            margin-bottom: su(0.35);

            @include prefix((
                // mask-image: url("/assets/icon/downloadfile.svg"),
                mask-repeat: no-repeat,
                mask-position: center right,
            ), webkit);

            background-color: var(--color-grey-dark);
            @include mode-transition();
        }

        .download-icon {
            @extend %card-icon;

            width:  calc( var(--line-height-base) * 1em * 0.75);

            @include prefix((
                mask-image: url("/assets/icon/downloadfile.svg"),
            ), webkit);
        }

        .offsite-icon {
            @extend %card-icon;

            width:  calc( var(--line-height-base) * 1em * 0.75);

            @include prefix((
                mask-image: url("/assets/icon/arrowupright.svg"),
            ), webkit);
        }
    }
}


/*
    Footer
*/

.site-footer {
    margin-top: su(2);
    margin-bottom: 0;
    margin-left: 0 !important; 

    text-align: center;
    .page-HOMENAME & {
        text-align: left;
    }
    @include media-query($on-palm) {
        text-align: center;
    }

    @extend .post-meta;
}
