---
layout: default
title: Storylog
permalink: /
nav: true
order: 0
---

{% include site-header.html %}

<section class="site-intro">
	<!-- <h2>About the Author</h2> -->
	{{ site.data.text.index.intro | markdownify }}
</section>

<section class="box-section">
	<!-- <h2 class="section-title">Latest Updates</h2> -->
	<ul class="index-list leader-list">
		{% assign chapters = site.chapters | concat: site.posts | sort: 'date' | reverse %}
		{% for chapter in chapters limit: 15 %}
    	<li class="{{ chapter.collection }} {% include illustrated-tag.html post=chapter %}">
			{% assign title = chapter.title %}
			{% if chapter.is_post %}
				{% assign title = title | prepend: 'Blog &middot; ' %}
			{% endif %}

			<a href="{{ chapter.url | prepend: site.baseurl }}">{{ title }}</a> 
			<span class="list-meta">{% include post-time.html post=chapter shorten=true %}</span>
		</li>
		{% endfor %}
		<!-- <li>
			<span>...</span>
		</li> -->
	</ul>
</section>

<!-- <hr> -->

<section class="adult-warning">
  <!-- <h2>Content Warning</h2> -->
  {{ site.data.text.index.adult_warning | markdownify }}
</section>


