---
layout: default
title: Stories
permalink: /stories
nav: true
order: 1

description: This page has a table of contents for nearly all the writing on this site. You're going to want to start here...
---

{% include site-header.html %}


{% assign types = site.stories | group_by: "type" | sort: 'name' %}


{%- comment -%} Table of Contents  {%- endcomment -%}

{% if site.stories.size > 1 %}
<section class="table-of-contents box-section">

  <!-- <h2 id="toc"  class="section-title">Table of Contents</h2> -->
  {%- for type in types -%}
  {%- assign typeslug = type.name -%}
  {% if typeslug == "" %}{%- assign typeslug = "my" -%}{% endif %}
  <ul id="toc-{{ typeslug }}-stories" class="leader-list">

    {%- comment -%} Section Title {%- endcomment -%}
    <h4 class="list-heading">
      {%- case typeslug -%}
      {%- when 'my' -%}         
      {%- when 'commission' -%} Commissions
      {%- when 'guest' -%}      Guest Stories
      {%- else -%}              {{ typeslug  | capitalize }}
      {%- endcase -%}
    </h4>

    {%- assign stories = type.items | sort: 'date_last' | reverse -%}
    {% for story in stories %}
    {%- assign liid = story.title | replace: "'", "" | slugify | prepend: 'toc-' -%}
    {%- assign litags = story.tags | join: "," | slugify_cased: 'pretty' | replace: ",", " " -%}
    <li id="{{ liid }}" data-tags="{{ litags }}">

      {%- comment -%} Title/Link {%- endcomment -%}
      {%- assign article_id = story.title | replace: "'", "" | slugify -%}
      <a href="#{{ article_id }}">{{ story.title }}</a> 

      {%- comment -%} Indicate guest posts {%- endcomment -%}
      {%- assign mention = "" -%}
      {% if story.type == "guest" %}{%- capture mention -%}
        <span>by {{ story.author }}</span>
      {%- endcapture -%}{% endif %}

      {%- comment -%} Indicate commissions {%- endcomment -%}
      {% if story.type == "commission" %}{%- capture mention -%}
        <span>for {{ story.patron }}</span>
        {%- comment -%} TODO handle anonymous default {%- endcomment -%}
      {%- endcapture -%}{% endif %}

      {%- comment -%} Detect parts extents {%- endcomment -%}
      {% assign chapters = site.chapters | where: "series", story.title %}
      {% assign extent = "" %}
      {% if chapters.size > 0 %}
        {% assign parts = chapters | group_by: "part" %}
        {% assign numparts = 0 %}
        {% for part in parts %}
          {% if part.items.size > 1 %}
            {% assign numparts = numparts | plus: 1 %}
          {% endif %}
        {% endfor %}

        {%- assign listparts = false -%}
        {% capture extent %}
          <span>{% if numparts > 1 and listparts %}{{ numparts | pluralize: 'part' }}, {% endif %}{{ chapters.size | pluralize: 'chapter' }}</span>
        {% endcapture %}
      {% endif %}
      
      {%- comment -%} Override with frontmatter variable {%- endcomment -%}
      {% if story.extent %}
        {% assign extent = story.extent %}
      {% endif %}

      {%- comment -%} Last Date and Completeness {%- endcomment -%}
      {%- assign classes = "" -%} 
      {%- assign latestYear = story.date_last  | date: "%Y" -%}
      {%- capture classes -%}{% unless story.complete %}in-progress asterisk{% endunless %}{%- endcapture -%}

      {%- comment -%} Assemble {%- endcomment -%}
      <span class="list-meta">
        {{ mention }}
        {{ extent | downcase }}
        <time class="{{ classes }}">{{ latestYear }}</time>
      </span>

      {%- comment -%} Cleanup {%- endcomment -%}
    </li>
    {% endfor %}

  </ul>
  {%- endfor -%}

</section>
<!-- <hr> -->
{% endif %}


{%- comment -%} List Story Entries {%- endcomment -%}

{%- for type in types -%}

  {%- assign stories = type.items | sort: 'date_last' | reverse -%}
  {% for story in stories %}
  {%- assign chapters = site.chapters | where: "series", story.title -%}
  {%- assign article_id = story.title | replace: "'", "" | slugify -%}
  {%- assign datatags = story.tags | join: "," | slugify_cased: 'pretty' | replace: ",", " " -%}
  <article class="story-summary" id="{{ article_id }}" data-tags="{{ datatags }}">

    {%- comment -%} Title Block {%- endcomment -%}
    <header class="post-header">
      {% include post-nav.html story=story %}

      {%- comment -%} Completeness {%- endcomment -%}
      {%- assign classes = "" -%} 
      {%- capture classes -%}{% unless story.complete %}in-progress asterisk{% endunless %}{%- endcapture -%}

      <h2 class="post-title {{ classes }}">
        <!-- <a href="{{ story.url }}" title="See the full story...">{{ story.title }}</a> -->
        <span>{{ story.title }}</span>
      </h2>

      <ul class="post-meta">
        
        {%- comment -%} Calculate dates {%- endcomment -%}
        <li>{%- include story-time.html post=story -%}</li>

        {%- comment -%} Author {%- endcomment -%}
        {% if story.author and site.author != story.author %} 
          <li><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ story.author }}</span></span></li>
        {% endif %}

        {%- comment -%} Editor {%- endcomment -%}
        {% if story.editor %} 
          <li><span itemprop="editor" itemscope itemtype="http://schema.org/Person"><span itemprop="name">edited by {{ story.editor }}</span></span></li>
        {% endif %}

        {%- comment -%} Patron {%- endcomment -%}
        {% if story.patron %} 
          <li><span itemprop="funder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">for {{ story.patron }}</span></span></li>
        {% endif %}

        {%- comment -%} Word Count {%- endcomment -%}
        <li><span itemprop="timeRequired" title="{% include wordcount.html story=page %}, {% include readingtime.html story=page raw=true %}">
          {%- include readingtime.html story=page -%}
        </span></li>

        {%- comment -%} Links Outbound {%- endcomment -%}
        {% if story.links.deviantart %}
          <li><a href="{{ story.links.deviantart }}">DeviantArt</a></li>
        {% endif %}

        {%- comment -%} Tags {%- endcomment -%}
        {% include post-meta-tags.html post=story %}

      </ul>

    </header>


    {%- comment -%} Watermark {%- endcomment -%}
    {% if story.watermark %}
      {% assign opacity = "" %}
      {% if story.watermark.opacity %}
        {% assign opacity = story.watermark.opacity | prepend: ' opacity: ' | append: '; ' %}
      {% endif %}
      <div class="watermark" style=" {{ opacity }} background-image: url('/assets/images/watermarks/{{ story.watermark.image }}');"></div>
    {% endif %}


    {%- comment -%} Description Block {%- endcomment -%}
    {% if story.description %}
      <section class="post-content">
        {{ story.description | markdownify }}
      </section>
    {% endif %}


    {%- comment -%} Disclaimer Block {%- endcomment -%}
    {% if story.disclaimer %}
    <section class="post-disclaimer">
      {{ story.disclaimer | markdownify }}
    </section>
    {% endif %}


    {%- comment -%} Post Lists {%- endcomment -%}
    <section class="post-subcontainer">
      {%- include story-chapter-toc.html chapters=chapters forcestorylink=story.forcestorylink -%}
    </section>

    
  </article>
  <hr>
  {% endfor %}

{% endfor %}


{%- comment -%} Top Button {%- endcomment -%}
{% include top-button.html %}