{%- comment -%} DISQUS {%- endcomment -%}
{% if site.disqus_shortname %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname  = '{{ site.disqus_shortname }}';
    var disqus_identifier = '{{ page.id }}';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
{% endif %}

{%- comment -%} COMMENTO {%- endcomment -%}
{% if site.commento %}
  <script defer src="https://cdn.commento.io/js/commento.js"></script>
  <div id="commento"></div>
{% endif %}

{%- comment -%} DISCORD/DEVIANTART {%- endcomment -%}
<section class="comments-link">
  {% if page.links.deviantart %}
  <a class="deviantart" href="{{ page.links.deviantart }}#comments" title="Comment on DeviantArt" aria-label="Comment on DeviantArt" >
    Comment
  </a>
  {% endif %}
  {% if site.discord %}
  <a class="discord" href="{{ site.discord }}" title="Discuss on Discord" aria-label="Discuss on Discord" >
    Chat
  </a>
  {% endif %}
</section>