---
---

{%- if page.collection -%}
  {%- comment -%} Post or chapter, etc {%- endcomment -%}
  {%- assign bodyclass = page.collection | slugify | prepend: 'collection-' -%}
{%- else -%}
  {%- comment -%} Page {%- endcomment -%}
  {%- assign bodyclass = page.title | slugify | prepend: 'page-' -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="en-US" preload>
  {% include head.html %}
  <body class="{{ bodyclass }}">
    <div class="page-content">
      {{ content }}
      {% include footer-copyright.html %}
    </div>
  </body>
</html>
