---
layout: default
---

{% assign story = page %}

{% assign chapters = site.chapters | where: "series", story.title %}

<article class="story" itemscope itemtype="http://schema.org/ShortStory">

  <header class="post-header">

    <h1 class="site-title" itemprop="name headline">

      {% assign stories_page = site.pages | find: "title", "Stories" %}
      {% assign home = site.pages | find: "url", "/" %}

      {%- assign href = story.title | replace: "'", "" | slugify | prepend: '#' | prepend: stories_page.url -%}
      <span class="slash"><a href="{{ href }}" title="Go back to the Stories page...">{{ stories_page.title }}</a></span>
      <span>{{ story.title }}</span>

    </h1>

    <ul class="post-meta">

      {%- comment -%} Calculate dates {%- endcomment -%}
      <li>{%- include story-time.html post=story -%}</li>

      {%- comment -%} Author {%- endcomment -%}
      {% if story.author %} 
        <li><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ story.author }}</span></span></li>
      {% endif %}

      {%- comment -%} Editor {%- endcomment -%}
      {% if story.editor %} 
        <li><span itemprop="editor" itemscope itemtype="http://schema.org/Person"><span itemprop="name">edited by {{ story.editor }}</span></span></li>
      {% endif %}

      {%- comment -%} Patron {%- endcomment -%}
      {% if story.patron %} 
        <li><span itemprop="funder" itemscope itemtype="http://schema.org/Person"><span itemprop="name">for {{ story.patron }}</span></span></li>
      {% endif %}

      {%- comment -%} Word Count {%- endcomment -%}
      <li><span itemprop="wordCount">{% include wordcount.html story=page %}</span></li>

      {%- comment -%} Reading Time {%- endcomment -%}
      <li><span itemprop="timeRequired" title="{% include wordcount.html story=page %}, {% include readingtime.html story=page raw=true %}">
        {%- include readingtime.html story=page -%}
      </span></li>

      {%- comment -%} Links Outbound {%- endcomment -%}
      {% if story.links.deviantart %}
        <li><a href="{{ story.links.deviantart }}">DeviantArt</a></li>
      {% endif %}

      {%- comment -%} Tags {%- endcomment -%}
      {% include post-meta-tags.html post=story %}

    </ul>
  </header>


  {%- comment -%} Description Block {%- endcomment -%}
  {% if story.description %}
    <section class="post-content">
      {%- capture desc -%}{{ story.description | markdownify }}{%- endcapture -%}
      {% if chapters.size == 1 %}
        {%- capture desc -%}<blockquote>{{ desc }}</blockquote>{%- endcapture -%}
      {% endif %}
      {{ desc }}
    </section>
  {% endif %}


  {%- comment -%} Disclaimer Block {%- endcomment -%}
  {% if story.disclaimer %}
    <section class="post-disclaimer">
      {{ story.disclaimer | markdownify }}
    </section>
  {% endif %}


  {%- comment -%} Post Lists {%- endcomment -%}
  {% if chapters.size > 1 %}
    <section class="post-subcontainer">
      {%- include story-chapter-toc.html chapters=chapters -%}
    </section>
  {% endif %}
  


  {%- comment -%} CHAPTERS {%- endcomment -%}

  {% for chapter in chapters  %}
  <hr {% if forloop.first == true %} style="visibility: hidden;" {%- endif -%}>
  {%- assign article_id = chapter.entry | replace: "'", "" | slugify -%}
  <article class="chapter" id="{{ article_id }}" itemscope itemtype="https://schema.org/Chapter">
    
    {% if chapters.size > 1 %}
    <header class="post-header">

      <h1 class="post-title" itemprop="name headline">
        {% if chapter.part and chapter.part != chapter.entry %}
          <span class="dot">{{ chapter.part }}</span>
          <!-- <span></span> -->
        {% endif %}
        {% assign entry = chapter.entry %}
        {% unless entry %}
          {% assign entry = "Untitled" %}
        {% endunless %}
        <span><a href="{{chapter.url}}" title="Go to the chapter page...">{{ entry }}</a></span>
        
      </h1>

      <ul class="post-meta">

        {%- comment -%} Post Date {%- endcomment -%}
        <time datetime="{{ chapter.date | date_to_xmlschema }}" itemprop="datePublished">{{ chapter.date | date_to_string: "ordinal", "US" }}</time>

        {%- comment -%} Word Count {%- endcomment -%}
        <span class="dot"></span>
        <span itemprop="wordCount">{{ chapter.content | markdownify | number_of_words | append: ' words' }}</span>

        {%- comment -%} Tags {%- endcomment -%}
        {%- comment -%} {% include post-meta-tags.html post=chapter %} {%- endcomment -%}

        {%- comment -%} Comments Link {%- endcomment -%}
        {%- comment -%}
        {% if chapter.deviantart %}
          <li><a href="{{ chapter.deviantart }}">Comment</a></li>
        {% endif %}
        {%- endcomment -%}
      </ul>

    </header>    
    {% endif %}


    {% if chapter.disclaimer %}
    <section class="post-disclaimer">
      {{ chapter.disclaimer | markdownify }}
      <hr>
    </section>
    {% endif %}


    <section class="chapter-content" itemprop="articleBody">
      {{ chapter.content | liquefy | markdownify }}
    </section>


    {% if chapter.endnote %}
    <section class="post-endnote">
      <hr>
      {{ chapter.endnote | markdownify }}
    </section>
    {% endif %}


  </article>
  {% endfor %}

  {% if story.endnote %}
  <section class="post-endnote">
    <hr>
    {{ story.endnote | markdownify }}
  </section>
  {% endif %}

  {% if page.comment %}
    {% include comments.html %}
  {% endif %}

</article>

{%- comment -%} Top Button {%- endcomment -%}
{% include top-button.html %}
