---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">

    {% include post-nav.html %}

    <h1 class="site-title" itemprop="name headline">
      {% assign home = site.pages | find: "title", "Blog" %}
      <span class="slash"><a href="{{ home.url }}">{{ home.title }}</a></span>
      <span>{{ page.title }}</span>
    </h1>

    <ul class="post-meta">

      {%- comment -%} Post Date {%- endcomment -%}
      <li>{%- include post-time.html post=page shorten=false -%}</li>
      
      {%- comment -%} Author {%- endcomment -%}
      {% if page.author %} 
        <li><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></li>
      {% endif %}

      {%- comment -%} Tags {%- endcomment -%}
      {% include post-meta-tags.html post=page %}

    </ul>

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.comment %}
    {% include comments.html %}
  {% endif %}

  {%- comment -%}
  <footer>
    {% include post-nav.html %}
  </footer>
  {%- endcomment -%}
  
</article>
